*.log
.DS_Store
.env
.env.backup
.env.production
.phpactor.json
.phpunit.result.cache
/.codex
/.cursor/
/.idea
/.nova
/.phpunit.cache
/.vscode
/.zed
/auth.json
/node_modules
/public/build
/public/fonts-manifest.dev.json
/public/hot
/public/storage
/storage/*.key
/storage/pail
/vendor
_ide_helper.php
Homestead.json
Homestead.yaml
Thumbs.db

# Local database & cache
/database/database.sqlite
/sipasut_db
__pycache__/
*.pyc

# Views to be developed by teammate
/resources/views/admin/kelola-lokasi.blade.php
/resources/views/admin/kelola-profil.blade.php
/resources/views/admin/kelola-notif.blade.php
/resources/views/admin/login-aktivitas.blade.php
/resources/views/user/kondisi-pasang-surut.blade.php
/resources/views/user/lokasi-monitoring.blade.php
/resources/views/user/kalender.blade.php
